@model UserDTO


<div class="col-md-12">
    <div class="form-floating">
        <input asp-for="Document" class="form-control" placeholder="@Html.DisplayFor(Model => Model.Document)">
        <label asp-for="Document"></label>
        <span asp-validation-for="Document" class="text-danger"></span>
    </div>
</div>
<div class="col-md-12">
    <div class="form-floating">
        <input asp-for="Name" class="form-control" placeholder="@Html.DisplayFor(Model => Model.Name)">
        <label asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="col-md-12">
    <div class="form-floating">
        <input asp-for="PhoneNumber" class="form-control" placeholder="@Html.DisplayFor(Model => Model.PhoneNumber)">
        <label asp-for="PhoneNumber"></label>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
</div>
<div class="col-md-12">
    <div class="form-floating">
        <input asp-for="BirthDate" class="form-control" placeholder="@Html.DisplayFor(Model => Model.BirthDate)">
        <label asp-for="BirthDate"></label>
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
</div>
<div class="col-md-12">
    <div class="form-floating">
        <select asp-for="NathivaRoleId" asp-items="Model.NathivaRoles" class="form-control"> </select>
        <label asp-for="NathivaRoleId"></label>
        <span asp-validation-for="NathivaRoleId" class="text-danger"></span>
    </div>
</div>
